@model VEdger.Models.UserData

@{
    ViewBag.Title = "UserInfoIndexView";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Style-UserInfo.css" rel="stylesheet" />
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <form class="form">
            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="photoo">
                                    <img src="~/BgImage/1.jpg" class="avatar img-square" alt="user" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-content pt-3">
                            <div class="tab-pane active">
                                <div class="ustawienie">
                                    <div class="content">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Full Name</label>
                                                        <input class="form-control" type="text" name="name" />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Date of Birth</label>
                                                        <input class="form-control" type="date" name="age" />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <input class="form-control" type="text" name="username" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input class="form-control" type="email" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Gender</label>
                                                        <select class="form-control">
                                                            <option selected="">Select Gender</option>
                                                            <option>Male</option>
                                                            <option>Female</option>
                                                            <option>Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label>Location</label>
                                                    <select class="form-control">
                                                        <option selected="">Select country</option>
                                                        <option>Belgium</option>
                                                        <option>Canada</option>
                                                        <option>Denmark</option>
                                                        <option>Estonia</option>
                                                        <option>France</option>
                                                        <option>Poland</option>
                                                        <option>Germany</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label>Diet</label> 
                                                    <select class="form-control">
                                                        <option selected="">Select diet</option>
                                                        <option>Omnivorous</option>
                                                        <option>Semi-vegetarianism</option>
                                                        <option>Lactive-vegetarianism</option>
                                                        <option>Vegetarianism</option>
                                                        <option>Fruitarianizm</option>
                                                        <option>Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col mb-3">
                                                    <div class="form-group">
                                                        <label>About</label>
                                                        <textarea class="form-control" rows="5"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testy">
                                        <div class="change photo">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fa fa-fw fa-camera"></i>
                                                <span>Change Photo</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="save">
                                        <div class="col d-flex justify-content-end">
                                            @Html.ActionLink("Zapisz", "Post")
                                            <button class="btn btn-primary" type="submit">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
