@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Style-Index.css" rel="stylesheet" />
</head>



<body>
    <div class="row">
        <div class="mainContainer__circle">
            <div class="registerbox">
                <img src="~/BgImage/Logo.png" alt="Alternate Text" class="user" />
            </div>
            <div class="Tekst">
                <p>
                    Join the vedger team and find a partner based on your dietary preferences.
                </p>
                <p>
                    <a class="one" href="/Account/Register">Register now</a>
                </p> 
            </div>
                <p class="lu">
                    and find out more !
                </p>
     </div>
    </div>
</body>