


<html>
<head>
    
    <link href="~/Style-Main.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="side">
            <div class="header">
                <div class="avatar">
                    <img src="~/BgImage/1.jpg" />
                </div>
                <div class="title"> My Profile</div>
                    <div class="icon">
                        <img src="~/BgImage/Edit.png" /> 
                    </div>
            </div>
            <div class="menu">
                <ul>
                    <li class="active">Messages</li>
                </ul>
            </div>
            <div class="messagess">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/38.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Caroline</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                </div>
            </div>
            <div class="messagess">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/39.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Hailee</div>
                    <div class="text">Testy</div>
                </div>
            </div>
        </div>
        <div class="sidee">
            <div class="header">
                <div class="title">Matches</div>
            </div>
            <div class="menu">
                <ul>
                    <li class="active">New matches</li>
                </ul>
            </div>
            <div class="messages">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/38.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Caroline</div>
                </div>
            </div>
            <div class="messages">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/39.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Hailee</div>
                </div>
            </div>

        </div>
        <div class="content">
            <div class="card">
                <div class="user">
                    <div class="photo">
                        <img src="~/BgImage/12.jpeg" />
                    </div>
                    <div class="profile">
                            <div class="name">Haile <span>, 24</span> <img src="~/BgImage/name.png" /> </div>
                            <div class="diet">Vegan<img src="~/BgImage/burger.png" /></div>
                            <div class="country">USA<img src="~/BgImage/place.png" /></div> 
                    </div>
                </div>
            <div class="buttons">
                    <div class="rewind">
                        <img src="~/BgImage/rewind.png" />
                    </div>
                    <div class="yes">
                        <img src="~/BgImage/heart.png" />
                    </div>
                    <div class="no">
                        <img src="~/BgImage/broken.png" />
                    </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
